# Aplicação
PORT=3000
ENV=development

# Segurança
# Usado para gerar hash de senha e para embaralhar/salgar a geração do shortcode (base62)
SALT_SECRET=change-me

# JWT
JWT_SECRET=change-me-too
JWT_EXPIRES_IN=1d

# Cassandra
DATABASE_URL=cassandra://localhost:9042/link_shortener

# Redis
REDIS_URL=redis://localhost:6379
